---
import BaseLayout from "@layouts/BaseLayout.astro"
import ProjectList from "@components/ProjectList.astro"
---

<BaseLayout title="Home">
    <p>Welcome to my blog!</p>
    <p>Below are some projects I've been working on recently:</p>
    <ProjectList/>
    <p>You can find more <a href="/projects/">here</a>.</p>
</BaseLayout>
