---
import BaseLayout from "@layouts/BaseLayout.astro"
import ProjectList from "@components/ProjectList.astro"
---

<BaseLayout title="Home">
    <p>Welcome to my blog!</p>
    <p>Here's what I've been working on recently:</p>
    <ProjectList/>
    <p>There's more on my <a href="https://github.com/ruitaiS">GitHub</a>!</p>
</BaseLayout>
