---
import Article from "@/components/Article.astro"
import ProjectList from "@components/ProjectList.astro"
---

<Article title="Projects">
    <details open>
        <summary><strong>Current Work</strong></summary>
        <ProjectList/>
    </details>

    <details class="archive">
        <summary><strong>Archive</strong></summary>
        <ul>
            <li><a href="/archive/alpacapack">Trading Platform with Alpaca Stock API</a> - March 2021</li>
            <li><a href="/archive/gridbuilder/">CSV Grid World Builder</a> - July 2020</li>
            <li><a href="/archive/google-frontend">Cloning the Google Frontend</a> - May 2020</li>
            <li><a href="/archive/rockpaperscissors">Rock Paper Scissors Javascript Game</a> - May 2020</li>
        </ul>
    </details>
</Article>