---
import BaseLayout from "@layouts/BaseLayout.astro"
const { title, date } = Astro.props;
---
<BaseLayout title={title}>
	<article>
	{(date) && (
		<section class="header">{date}</section>
	)}
	<section><slot /></section>
</article>
</BaseLayout>