<header>
	<nav>
		<a class="hvr-sweep-to-right" href="/">Home</a>
		<a class="hvr-sweep-to-right" href="/about/">About</a>
		<a class="hvr-sweep-to-right" href="/projects/">Projects</a>
		<a class="hvr-sweep-to-right" href="/contact/">Contact</a>
	</nav>
</header>