<header>
	<nav style="margin: 2rem 0;">
		<a class="basic-button" href="/">Home</a>
		<a class="basic-button" href="/about/">About</a>
		<a class="basic-button" href="/projects/">Projects</a>
		<a class="basic-button" href="/contact/">Contact</a>
	</nav>
</header>