<ul>
        <li><a href="/projects/bible-rnn">Client-side LSTM Inference</a> - October 2025</li>
        <li><a href="/projects/style-transfer">Image Style Transfer</a> - August 2025</li>
        <li><a href="/projects/cnn">Convolutional Neural Nets with Pytorch</a> - August 2025</li>
        <li><a href="/projects/nn-classifiers">Some Neural Network Classifiers</a> - July 2025</li>
        <li><a href="/projects/feature-extraction">Feature Extraction from Pre-trained Networks</a> - June 2025</li>
        <li><a href="/projects/transformer">Transformer (Mostly) from Scratch</a> - March 2025</li>
        <li><a href="/projects/n-gram">N-gram Language Model</a> - January 2025</li>
        <li><a href="/projects/sentence-correction">Sentence Correction using Hidden Markov Models</a> - December 2024</li>
        <li><a href="/projects/movielens">MovieLens User Data Analysis in R</a> - June 2024</li>
</ul>