<ul>
        <li><a href="/projects/bible-rnn">RNN Language Model</a> - October, 2025</li>
        <li><a href="/projects/test_page">Test</a> - December  7, 2015</li>
        <li><a href="/projects/tu-quoque">Tu Quoque</a> - December  7, 2015</li>
        <li><a href="/projects/carpe-diem">Carpe Diem</a> - November 28, 2015</li>
        <li><a href="/projects/rosa-rosa-rosam">Rosa Rosa Rosam</a> - October  7, 2015</li>
        <li><a href="/projects/spqr">S.P.Q.R.</a> - August 12, 2015</li>
</ul>