---
import "@styles/default.css"
import Header from "@components/Header.astro"
const { title=":)", date} = Astro.props;
const favicon_href = import.meta.env.MODE === 'development' ? (
    '/dev-favicon.ico'
) : (
    '/favicon.ico'
);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href={favicon_href} />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <slot name="header"><Header /></slot>
        <main>
            <div class="title">
                <h1>{title}</h1>
                {(date) && (
                    <section class="date">{date}</section>
                )}
            </div>
			
			<slot/>
        </main>
        <footer>
            <p>
                Last build at {new Date().toLocaleString("en-US",{
                timeZone: "America/New_York",
                timeZoneName: "short"})}
            </p>
        </footer>
    </body>
</html>